<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../css/global.css" />
    </head>
    <body>
        <h1>Bienvenue sur l'accueil de Vapeur !</h1>

        <h2>Quelques jeux :</h2>

        <ul>
            {{#each fewGames}}
                <li>
                    <a href="/games/{{id}}">{{title}}</a> - {{editor.name}}
                </li>
            {{/each}}
        </ul>
    </body>
</html>