<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Liste des Éditeurs</title>
</head>
<body>
  <h1>Liste des Éditeurs</h1>
  <ul>
    {{#each editors}}
      <li class="editor">
        <a href="/editors/{{id}}">{{name}}</a>
      </li>
    {{/each}}
  </ul>
</body>
</html>